workflows/cognix-linkedin-relationship-intelligence.json
{
  "name": "CognixAI Labs - Lean Lead Discovery (Gemini)",
  "nodes": [
    {
      "id": "3cf0fad3-6785-4898-be58-1d9dac45ce3e",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2400,
        0
      ],
      "parameters": {}
    },
    {
      "id": "e40336bf-4168-4d39-9630-27ec8cbe8489",
      "name": "Schedule - Discovery",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2400,
        -180
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1,3,5"
            }
          ]
        }
      }
    },
    {
      "id": "39d26b3c-89df-43b3-a493-03e0da462c21",
      "name": "Workflow Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2160,
        0
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "d2c727f2-e06d-463e-80e2-476d55008abb",
              "name": "spreadsheetId",
              "value": "={{ $env.COGNIX_LEADS_SHEET_ID || '' }}",
              "type": "string"
            },
            {
              "id": "cecac4de-af0c-43f8-b093-5df8164fe392",
              "name": "sheetName",
              "value": "Leads",
              "type": "string"
            },
            {
              "id": "7c43314a-874a-4bca-91f6-4287c8ea71e1",
              "name": "failedSheetName",
              "value": "Failed_Leads",
              "type": "string"
            },
            {
              "id": "8af5cfab-1adc-438b-b956-94761d10f839",
              "name": "serperQueries",
              "value": "=[\"AI SaaS site:linkedin.com/company\",\"agentic AI startup site:linkedin.com/company\",\"workflow automation SaaS site:linkedin.com/company\",\"B2B AI platform site:linkedin.com/company\",\"AI operations startup site:linkedin.com/company\"]",
              "type": "array"
            },
            {
              "id": "1041544f-9ac3-4796-be55-a5f84144bf5c",
              "name": "batchSize",
              "value": 2,
              "type": "number"
            },
            {
              "id": "d20fa0a8-c4ff-49f8-8e8a-51775d760bdc",
              "name": "maxLeadsPerRun",
              "value": 8,
              "type": "number"
            },
            {
              "id": "1a66dc24-3bd8-4191-9233-5b78f1776ee2",
              "name": "maxScrapeChars",
              "value": 1500,
              "type": "number"
            },
            {
              "id": "eb30638c-ed18-4825-b679-e7d27d24cf82",
              "name": "serperNumResults",
              "value": 8,
              "type": "number"
            },
            {
              "id": "d2ba68d5-640c-4d6a-8d16-88d34aab05f0",
              "name": "brandName",
              "value": "CognixAI Labs",
              "type": "string"
            }
          ]
        }
      },
      "notes": "Env: GEMINI_API_KEY, SERPER_API_KEY, FIRECRAWL_API_KEY, COGNIX_LEADS_SHEET_ID"
    },
    {
      "id": "fa5ac329-2efb-412a-9cc4-dfca6db7f52f",
      "name": "Validate Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const c = $input.first().json;\nif (!c.spreadsheetId) throw new Error('COGNIX_LEADS_SHEET_ID is required');\nif (!$env.GEMINI_API_KEY) throw new Error('GEMINI_API_KEY is required');\nif (!$env.SERPER_API_KEY) throw new Error('SERPER_API_KEY is required');\nif (!$env.FIRECRAWL_API_KEY) throw new Error('FIRECRAWL_API_KEY is required');\nreturn [{ json: { ...c, _runId: 'run_' + Date.now() } }];"
      }
    },
    {
      "id": "4460632e-bb84-41dd-abde-623b33552f40",
      "name": "Read Existing Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1680,
        0
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheetName }}",
          "mode": "name"
        },
        "options": {
          "rangeDefinition": "specifyRange",
          "range": "A:Z"
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "aaa04da1-5e99-4f38-bdc6-6fa9f34c5f8c",
      "name": "Build Dedup Index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $('Validate Config').first().json;\nconst rows = $input.all().map((i) => i.json).filter((r) => r && (r.lead_id || r.company_name));\nconst normDomain = (w) =>\n  String(w || '')\n    .toLowerCase()\n    .replace(/^https?:\\/\\//, '')\n    .replace(/\\/$/, '')\n    .split('/')[0];\nconst seenDomains = new Set();\nconst seenNames = new Set();\nconst seenLinkedIn = new Set();\nconst seenFounderUrls = new Set();\nfor (const r of rows) {\n  const d = normDomain(r.website);\n  const n = String(r.company_name || '').toLowerCase().trim();\n  const li = String(r.linkedin_company_url || '').toLowerCase().split('?')[0];\n  const fu = String(r.founder_linkedin_url || '').toLowerCase().split('?')[0];\n  if (d) seenDomains.add(d);\n  if (n) seenNames.add(n);\n  if (li) seenLinkedIn.add(li);\n  if (fu && fu.includes('linkedin.com/in')) seenFounderUrls.add(fu);\n}\nreturn [{\n  json: {\n    ...cfg,\n    seenDomains: [...seenDomains],\n    seenNames: [...seenNames],\n    seenLinkedIn: [...seenLinkedIn],\n    seenFounderUrls: [...seenFounderUrls],\n    existingRowCount: rows.length,\n  },\n}];"
      }
    },
    {
      "id": "397164c5-a50e-44fa-a2c4-abf7ddd49a34",
      "name": "Build Serper Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $input.first().json;\nlet queries = cfg.serperQueries;\nif (typeof queries === 'string') {\n  try { queries = JSON.parse(queries); } catch { queries = []; }\n}\nif (!Array.isArray(queries) || !queries.length) {\n  queries = ['AI SaaS site:linkedin.com/company'];\n}\nreturn queries.slice(0, 5).map((q, queryIndex) => ({\n  json: {\n    ...cfg,\n    searchQuery: q,\n    queryIndex,\n    page: 1,\n    _queryKey: (cfg._runId || 'run') + '_q' + queryIndex,\n  },\n}));"
      }
    },
    {
      "id": "29071456-0d66-4c71-b983-02add172729d",
      "name": "Serper Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "={{ $env.SERPER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: $json.searchQuery, num: $json.serperNumResults || 8, page: 1, gl: \"us\", hl: \"en\" }) }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 1,
            "waitBetween": 1000
          },
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "070b46df-1076-462c-b297-f5652aba83b1",
      "name": "Merge Serper By Query Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const queries = $('Build Serper Queries').all().map((i) => i.json);\nconst results = $input.all().map((i) => i.json);\nconst merged = [];\nconst len = Math.max(queries.length, results.length);\nfor (let i = 0; i < len; i++) {\n  const q = queries[i] || {};\n  const r = results[i] || {};\n  const queryKey = q._queryKey || ((q._runId || 'run') + '_q' + (q.queryIndex ?? i));\n  merged.push({\n    json: {\n      ...q,\n      ...r,\n      _queryKey: queryKey,\n      _mergeBy: 'queryKey',\n    },\n  });\n}\nreturn merged.length ? merged : [{ json: { _empty: true, _trace: 'serper_merge_empty' } }];"
      }
    },
    {
      "id": "6a5843d1-6c9d-40a8-88a4-793181131692",
      "name": "Parse Serper Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const normDomain = (w) =>\n  String(w || '')\n    .toLowerCase()\n    .replace(/^https?:\\/\\//, '')\n    .replace(/\\/$/, '')\n    .split('/')[0];\n\nfunction isLikelyStartupDomain(host) {\n  if (!host || host.length < 4) return false;\n  const h = host.split(':')[0];\n  const bad = new Set([\n    'reddit.com', 'youtube.com', 'youtu.be', 'medium.com', 'twitter.com', 'x.com',\n    'facebook.com', 'instagram.com', 'linkedin.com', 'wikipedia.org', 'google.com',\n    'bing.com', 'yahoo.com', 'news.ycombinator.com', 'producthunt.com', 'tiktok.com',\n    'pinterest.com', 'quora.com', 'stackoverflow.com', 'github.com', 'substack.com',\n    'wordpress.com', 'blogspot.com', 'tumblr.com', 'soundcloud.com', 'vimeo.com',\n  ]);\n  if (bad.has(h)) return false;\n  const parts = h.split('.');\n  if (parts.length < 2) return false;\n  const tld = parts[parts.length - 1];\n  const tldOk = ['com', 'io', 'ai', 'co', 'app', 'dev', 'tech', 'so', 'team', 'tools', 'cloud', 'software', 'net', 'org'].includes(tld);\n  if (!tldOk) return false;\n  if (parts[0].length < 2) return false;\n  return true;\n}\n\nconst blockedPatterns = [\n  'reddit',\n  'youtube',\n  'medium',\n  'y combinator',\n  'yc',\n  'best ',\n  'top ',\n  'how to',\n  'guide',\n  'blog',\n  'article',\n  'tools',\n  'tips',\n  'watch',\n  'founder reacts',\n  'underestimated',\n];\n\nconst companies = [];\nconst runId = $input.first().json._runId || ('run_' + Date.now());\n\nfor (const item of $input.all()) {\n  const row = item.json;\n  const searchQuery = row.searchQuery || '';\n  const queryIndex = row.queryIndex ?? 0;\n  const organic = Array.isArray(row.organic) ? row.organic : [];\n\n  for (let i = 0; i < organic.length; i++) {\n    const r = organic[i] || {};\n    const link = r.link || '';\n    const title = String(r.title || '').toLowerCase();\n    const linkLower = String(link || '').toLowerCase();\n\n    const isBad =\n      blockedPatterns.some((p) => title.includes(p)) ||\n      linkLower.includes('reddit.com') ||\n      linkLower.includes('youtube.com') ||\n      linkLower.includes('medium.com');\n    if (isBad) continue;\n\n    let website = '';\n    let linkedin_company_url = '';\n    if (link.includes('linkedin.com/company')) {\n      linkedin_company_url = link.split('?')[0];\n      const m = (r.snippet || '').match(/https?:\\/\\/[^\\s)]+/);\n      website = m ? m[0] : '';\n    } else if (link && !link.includes('linkedin.com/in')) {\n      website = link;\n    }\n\n    const domainFromLink = normDomain(link);\n    const domainFromSite = normDomain(website);\n    const isLinkedInCompany = linkLower.includes('linkedin.com/company');\n    const acceptNonLinkedIn = !isLinkedInCompany && isLikelyStartupDomain(domainFromLink);\n\n    if (!isLinkedInCompany && !acceptNonLinkedIn) continue;\n\n    let company_name = String(r.title || '')\n      .replace(/Official Page|LinkedIn/gi, '')\n      .split('|')[0]\n      .split(' - ')[0]\n      .trim();\n    if (!company_name || company_name.length < 2) continue;\n    if (company_name.length > 45) continue;\n\n    const domain = normDomain(website);\n    companies.push({\n      lead_id: runId + '_q' + queryIndex + '_' + i,\n      company_name,\n      website: website.startsWith('http') ? website : domain ? 'https://' + domain : '',\n      linkedin_company_url,\n      description: (r.snippet || '').slice(0, 400),\n      source_query: searchQuery,\n      status: 'discovered',\n      created_at: new Date().toISOString(),\n    });\n  }\n}\n\nreturn companies.length\n  ? companies.map((json) => ({ json }))\n  : [{ json: { _empty: true, _trace: 'no_serper_companies' } }];"
      }
    },
    {
      "id": "483a614a-872d-47d1-a05d-50d8da53f2fc",
      "name": "Dedupe Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $input.first().json._empty\n  ? $('Build Dedup Index').first().json\n  : { ...$('Build Dedup Index').first().json };\n\nif ($input.first().json._empty) {\n  return [{ json: { ...cfg, _empty: true, _trace: 'dedupe_nothing_to_process' } }];\n}\n\nconst normDomain = (w) =>\n  String(w || '')\n    .toLowerCase()\n    .replace(/^https?:\\/\\//, '')\n    .replace(/\\/$/, '')\n    .split('/')[0];\n\nconst seenDomains = new Set(cfg.seenDomains || []);\nconst seenNames = new Set(cfg.seenNames || []);\nconst seenLinkedIn = new Set(cfg.seenLinkedIn || []);\nconst seenFounderUrls = new Set(cfg.seenFounderUrls || []);\nconst localDomains = new Set();\nconst unique = [];\n\nfor (const item of $input.all()) {\n  const c = item.json;\n  if (!c || c._empty || !c.company_name) continue;\n  const domain = normDomain(c.website);\n  const name = String(c.company_name).toLowerCase().trim();\n  const li = String(c.linkedin_company_url || '').toLowerCase().split('?')[0];\n  const fu = String(c.founder_linkedin_url || '').toLowerCase().split('?')[0];\n  if (domain && (seenDomains.has(domain) || localDomains.has(domain))) continue;\n  if (seenNames.has(name)) continue;\n  if (li && seenLinkedIn.has(li)) continue;\n  if (fu && fu.includes('linkedin.com/in') && seenFounderUrls.has(fu)) continue;\n  if (domain) { localDomains.add(domain); seenDomains.add(domain); }\n  seenNames.add(name);\n  if (li) seenLinkedIn.add(li);\n  if (fu) seenFounderUrls.add(fu);\n  unique.push({ json: { ...cfg, ...c } });\n}\n\nif (!unique.length) {\n  return [{ json: { ...cfg, _empty: true, _trace: 'all_duplicates' } }];\n}\nreturn unique;"
      }
    },
    {
      "id": "6110663f-0095-49e6-b26f-e8006e60f206",
      "name": "Limit Leads Per Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $input.first().json;\nif (cfg._empty) return [{ json: cfg }];\nconst max = Number(cfg.maxLeadsPerRun) || 8;\nconst leads = $input.all().map((i) => i.json).filter((j) => j.company_name);\nreturn leads.slice(0, max).map((json) => ({ json }));"
      }
    },
    {
      "id": "aa9d0a44-e56f-4354-9e65-9656435d30ca",
      "name": "IF Has Leads To Process",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._empty === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            },
            {
              "leftValue": "={{ $json.company_name || \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "bd7ed00f-1f55-464a-b347-013de01c4239",
      "name": "Run Complete - Nothing New",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        180
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "eb8cf40a-1303-4be4-9fee-e71c23757d75",
              "name": "_trace",
              "value": "={{ \"complete_nothing_new \" + $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true
      }
    },
    {
      "id": "aeb421eb-b24f-4fc8-9b60-8932b7d963c4",
      "name": "Prepare Founder Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lead = $json;\nif (!lead.lead_id) throw new Error('lead_id required before founder search');\nreturn {\n  json: {\n    ...lead,\n    _mergeBy: 'lead_id',\n    founder_search_query: String(lead.company_name || '') + ' founder site:linkedin.com/in',\n  },\n};"
      }
    },
    {
      "id": "9abe48d3-7373-469f-bd6b-5a537770dbc8",
      "name": "Serper Founder Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "={{ $env.SERPER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: $json.founder_search_query, num: 5, page: 1, gl: \"us\", hl: \"en\" }) }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 1,
            "waitBetween": 1000
          },
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "5c39163d-9a4e-40ca-bbc5-ac23651ae301",
      "name": "Parse Founder Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const serper = $input.item.json || {};\nconst lead = $('Prepare Founder Search').item.json;\nif (!lead?.lead_id) throw new Error('Parse Founder: missing lead_id from Prepare Founder Search');\n\nlet founder_name = String(lead.founder_name || '').trim();\nlet founder_linkedin_url = String(lead.founder_linkedin_url || '').split('?')[0];\nlet founder_title = String(lead.founder_title || '').trim();\nconst organic = Array.isArray(serper.organic) ? serper.organic : [];\n\nfor (const r of organic) {\n  const link = String(r.link || '').split('?')[0];\n  if (!link.includes('linkedin.com/in/')) continue;\n  if (!founder_linkedin_url) {\n    founder_linkedin_url = link;\n    const titleRaw = String(r.title || '');\n    founder_name = founder_name || titleRaw.split('|')[0].split('-')[0].trim();\n    const titleMatch = titleRaw.match(/\\b(CEO|CTO|COO|Founder|Co-Founder|President)\\b[^|]*/i);\n    if (titleMatch) founder_title = founder_title || titleMatch[0].trim();\n  }\n}\n\nreturn {\n  json: {\n    ...lead,\n    founder_name,\n    founder_linkedin_url,\n    founder_title,\n    founder_lookup_ok: Boolean(founder_linkedin_url),\n    status: 'founder_resolved',\n    _mergeBy: 'lead_id',\n  },\n};"
      }
    },
    {
      "id": "9235293a-cdd6-4896-a7e8-cc1fbdc07ca3",
      "name": "Prepare Scrape Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lead = $json;\nif (!lead.lead_id) throw new Error('lead_id required before scrape');\nreturn { json: { ...lead, _mergeBy: 'lead_id' } };"
      }
    },
    {
      "id": "3ee3577f-1080-41b1-a456-0c935d4519a7",
      "name": "Firecrawl Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.FIRECRAWL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.website, formats: [\"markdown\"], onlyMainContent: true, timeout: 30000 }) }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 1,
            "waitBetween": 1000
          },
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "13df360b-befd-4291-a4dc-07a015590b17",
      "name": "Merge Scrape By Lead Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fc = $input.item.json || {};\nconst lead = $('Prepare Scrape Context').item.json;\nif (!lead?.lead_id) throw new Error('Merge Scrape: lead_id missing');\nconst maxChars = Number(lead.maxScrapeChars) || 1500;\nconst md = fc?.data?.markdown || fc?.markdown || '';\nconst homepage = String(md).slice(0, maxChars);\nconst scrape_ok = Boolean(md && !fc?.error);\nreturn {\n  json: {\n    ...lead,\n    scraped_homepage: homepage,\n    scrape_ok,\n    scrape_error: fc?.error ? String(fc.error) : (scrape_ok ? '' : 'empty_homepage'),\n    status: scrape_ok ? 'scraped' : 'scrape_failed',\n    _mergeBy: 'lead_id',\n  },\n};"
      }
    },
    {
      "id": "9f681b40-5963-4ae4-a1c6-6713e04bee69",
      "name": "Prepare Gemini Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lead = $json;\nif (!lead.lead_id) throw new Error('lead_id required before Gemini');\nreturn { json: { ...lead, _mergeBy: 'lead_id' } };"
      }
    },
    {
      "id": "2657b0f6-81e9-4ec8-99f7-114500b31203",
      "name": "Gemini Unified Intelligence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=\" + $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [{\n      text: \"You are helping CognixAI Labs build authentic founder relationships on LinkedIn.\\n\\nYou are NOT writing sales outreach.\\n\\nGenerate thoughtful, observant, founder-to-founder networking messages.\\n\\nReturn STRICT JSON only with:\\n{\\n  \\\"icp_score\\\": number,\\n  \\\"priority\\\": \\\"high|medium|low\\\",\\n  \\\"summary\\\": \\\"\\\",\\n  \\\"relationship_angle\\\": \\\"\\\",\\n  \\\"likely_pain_points\\\": [],\\n  \\\"connection_note\\\": \\\"\\\",\\n  \\\"relationship_message\\\": \\\"\\\"\\n}\\n\\nRules:\\n- connection_note must feel human and natural\\n- never sound salesy\\n- never pitch services directly\\n- sound curious and intelligent\\n- mention something specific from the company context\\n- tone should feel like operator-to-operator networking\\n- connection_note max 260 chars\\n- relationship_message max 450 chars\\n- Do NOT invent founder names or LinkedIn URLs — use only provided founder fields\\n- Do NOT discover founders or guess company facts not in context\\n- likely_pain_points: array of strings (max 5)\\n- No markdown. No extra keys.\" +\n        \"\\n\\nCompany:\\n\" + ($json.company_name || \"\") +\n        \"\\n\\nFounder:\\n\" + ($json.founder_name || \"\") +\n        \"\\n\" + ($json.founder_title || \"\") +\n        \"\\n\\nWebsite:\\n\" + ($json.website || \"\") +\n        \"\\n\\nLinkedIn:\\n\" + ($json.linkedin_company_url || \"\") +\n        \"\\n\\nHomepage:\\n\" + ($json.scraped_homepage || \"\").slice(0, 1500) +\n        \"\\n\\nDescription:\\n\" + ($json.description || \"\")\n    }]\n  }],\n  generationConfig: { temperature: 0.4, responseMimeType: \"application/json\", maxOutputTokens: 1024 }\n}) }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 1,
            "waitBetween": 1000
          },
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "e265b2e7-8007-476e-a735-ae2ede9972c1",
      "name": "Parse Gemini Unified",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function extractGeminiText(payload) {\n  if (!payload || typeof payload !== 'object') return '';\n  const parts = payload.candidates?.[0]?.content?.parts;\n  if (!Array.isArray(parts)) return '';\n  return parts.map((p) => p?.text || '').join('').trim();\n}\nfunction parseStrictJson(text) {\n  if (!text) return null;\n  let cleaned = String(text).trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/^\\`\\`\\`(?:json)?\\s*/i, '').replace(/\\`\\`\\`\\s*$/, '').trim();\n  }\n  try {\n    return JSON.parse(cleaned);\n  } catch (_) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try {\n        return JSON.parse(match[0]);\n      } catch (_) {}\n    }\n  }\n  return null;\n}\nconst geminiRaw = $input.item.json || {};\nconst lead = $('Prepare Gemini Context').item.json;\nif (!lead?.lead_id) throw new Error('Parse Gemini: lead_id missing');\n\nconst text = extractGeminiText(geminiRaw.candidates ? geminiRaw : {});\nlet ai = parseStrictJson(text);\n\nconst fallback = {\n  icp_score: 45,\n  priority: 'low',\n  summary: 'Fallback scoring — Gemini parse or API issue',\n  relationship_angle: 'operational intelligence and workflow scaling',\n  likely_pain_points: [],\n  connection_note: 'Hi — appreciated learning about your team. Would love to connect.',\n  relationship_message: 'Thanks for connecting. Curious how you think about ops workflows as you scale.',\n};\n\nif (!ai || typeof ai !== 'object') ai = { ...fallback, _parseMode: 'raw_text', _raw: (text || '').slice(0, 500) };\n\nconst icp_score = Math.min(100, Math.max(0, Number(ai.icp_score) || 45));\nlet priority = String(ai.priority || 'low').toLowerCase();\nif (!['high', 'medium', 'low'].includes(priority)) {\n  priority = icp_score >= 75 ? 'high' : icp_score >= 50 ? 'medium' : 'low';\n}\n\nconst pain = Array.isArray(ai.likely_pain_points)\n  ? ai.likely_pain_points.slice(0, 5)\n  : [];\n\nconst now = new Date().toISOString();\n\nreturn {\n  json: {\n    ...lead,\n    icp_score,\n    priority,\n    summary: String(ai.summary || fallback.summary).slice(0, 600),\n    relationship_angle: String(ai.relationship_angle || fallback.relationship_angle).slice(0, 300),\n    likely_pain_points: pain.join('; '),\n    connection_note: String(ai.connection_note || fallback.connection_note).slice(0, 260),\n    relationship_message: String(ai.relationship_message || fallback.relationship_message).slice(0, 450),\n    status: priority === 'low' ? 'archived' : 'queued',\n    engagement_stage: 'profile_pending',\n    viewed_at: '',\n    connection_requested_at: '',\n    connected_at: '',\n    followup_sent_at: '',\n    replied: false,\n    error_log: geminiRaw?.error ? String(geminiRaw.error.message || geminiRaw.error) : (lead.scrape_error || ''),\n    updated_at: now,\n    _mergeBy: 'lead_id',\n  },\n};"
      }
    },
    {
      "id": "5bf556a5-100e-4b37-b7b1-357f53e5e7f0",
      "name": "Prepare Sheet Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const j = $json;\nif (!j.lead_id || !j.company_name) {\n  return { json: { ...j, _skipAppend: true, _trace: 'invalid_row' } };\n}\nreturn { json: j };"
      }
    },
    {
      "id": "768378ea-9c0e-4f52-80a6-6a760376752a",
      "name": "IF Valid For Append",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3120,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._skipAppend }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            },
            {
              "leftValue": "={{ $json.lead_id || \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "11620698-8081-4291-acc7-df71522af27e",
      "name": "Sheets Append Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3360,
        0
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "company_name": "={{ $json.company_name }}",
            "website": "={{ $json.website }}",
            "linkedin_company_url": "={{ $json.linkedin_company_url }}",
            "founder_name": "={{ $json.founder_name }}",
            "founder_title": "={{ $json.founder_title }}",
            "founder_linkedin_url": "={{ $json.founder_linkedin_url }}",
            "icp_score": "={{ $json.icp_score }}",
            "priority": "={{ $json.priority }}",
            "summary": "={{ $json.summary }}",
            "relationship_angle": "={{ $json.relationship_angle }}",
            "connection_note": "={{ $json.connection_note }}",
            "relationship_message": "={{ $json.relationship_message }}",
            "status": "={{ $json.status }}",
            "engagement_stage": "={{ $json.engagement_stage || \"profile_pending\" }}",
            "viewed_at": "={{ $json.viewed_at || \"\" }}",
            "connection_requested_at": "={{ $json.connection_requested_at || \"\" }}",
            "connected_at": "={{ $json.connected_at || \"\" }}",
            "followup_sent_at": "={{ $json.followup_sent_at || \"\" }}",
            "replied": "={{ $json.replied || false }}",
            "created_at": "={{ $json.created_at }}",
            "updated_at": "={{ $json.updated_at }}",
            "error_log": "={{ $json.error_log || \"\" }}",
            "source_query": "={{ $json.source_query || \"\" }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      }
    },
    {
      "id": "cf3ae98c-fe7e-4981-8318-d3cfb0046e48",
      "name": "Run Complete - Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3600,
        0
      ],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "5c647ee1-cb80-4bb9-b5eb-fd98738f0bd3",
              "name": "_trace",
              "value": "={{ \"complete_success \" + $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "e4afb498-499a-438b-b1f6-53147f98b615",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -2400,
        400
      ],
      "parameters": {}
    },
    {
      "id": "89558c09-5afd-4e77-b4c7-5c353b9a42a3",
      "name": "Prepare Failed Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const err = $input.first().json;\nreturn [{\n  json: {\n    company_name: err.company_name || err.json?.company_name || 'unknown',\n    website: err.website || err.json?.website || '',\n    error: err.execution?.error?.message || err.message || JSON.stringify(err).slice(0, 500),\n    stage: err.execution?.lastNodeExecuted || 'unknown',\n    timestamp: new Date().toISOString(),\n    run_id: err._runId || '',\n  },\n}];"
      }
    },
    {
      "id": "ffcac08d-16ed-4f9b-8551-ffbcb1fbfe97",
      "name": "Sheets Append Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1920,
        400
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.COGNIX_LEADS_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Failed_Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_name": "={{ $json.company_name }}",
            "website": "={{ $json.website }}",
            "error": "={{ $json.error }}",
            "stage": "={{ $json.stage }}",
            "timestamp": "={{ $json.timestamp }}",
            "run_id": "={{ $json.run_id }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      }
    },
    {
      "id": "c2988dbb-00ac-4108-959f-a949b31a8e7f",
      "name": "NOTE Lean Architecture",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2600,
        -200
      ],
      "parameters": {
        "content": "## CognixAI Lean Discovery (v3)\n\nCompany-intent Serper only. Parse filters junk + title noise. Merges: queryKey / lead_id via Code.",
        "height": 220,
        "width": 480
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Workflow Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule - Discovery": {
      "main": [
        [
          {
            "node": "Workflow Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Config": {
      "main": [
        [
          {
            "node": "Validate Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Config": {
      "main": [
        [
          {
            "node": "Read Existing Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Leads": {
      "main": [
        [
          {
            "node": "Build Dedup Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dedup Index": {
      "main": [
        [
          {
            "node": "Build Serper Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Serper Queries": {
      "main": [
        [
          {
            "node": "Serper Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper Search": {
      "main": [
        [
          {
            "node": "Merge Serper By Query Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Serper By Query Key": {
      "main": [
        [
          {
            "node": "Parse Serper Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Serper Companies": {
      "main": [
        [
          {
            "node": "Dedupe Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe Companies": {
      "main": [
        [
          {
            "node": "Limit Leads Per Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Leads Per Run": {
      "main": [
        [
          {
            "node": "IF Has Leads To Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Leads To Process": {
      "main": [
        [
          {
            "node": "Prepare Founder Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Complete - Nothing New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Founder Search": {
      "main": [
        [
          {
            "node": "Serper Founder Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper Founder Lookup": {
      "main": [
        [
          {
            "node": "Parse Founder Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Founder Result": {
      "main": [
        [
          {
            "node": "Prepare Scrape Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Scrape Context": {
      "main": [
        [
          {
            "node": "Firecrawl Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Homepage": {
      "main": [
        [
          {
            "node": "Merge Scrape By Lead Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Scrape By Lead Id": {
      "main": [
        [
          {
            "node": "Prepare Gemini Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini Context": {
      "main": [
        [
          {
            "node": "Gemini Unified Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Unified Intelligence": {
      "main": [
        [
          {
            "node": "Parse Gemini Unified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Unified": {
      "main": [
        [
          {
            "node": "Prepare Sheet Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Rows": {
      "main": [
        [
          {
            "node": "IF Valid For Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid For Append": {
      "main": [
        [
          {
            "node": "Sheets Append Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Append Leads": {
      "main": [
        [
          {
            "node": "Run Complete - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Prepare Failed Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Failed Row": {
      "main": [
        [
          {
            "node": "Sheets Append Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/New_York"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "cognix-lean-discovery-v2"
  },
  "tags": [
    {
      "name": "cognix"
    },
    {
      "name": "lean"
    },
    {
      "name": "discovery"
    }
  ]
}