workflows/cognix-outbound-lead-intelligence.json
{
  "name": "CognixAI Labs - Outbound Lead Intelligence (Gemini)",
  "nodes": [
    {
      "id": "491af38e-659f-4c72-a641-abd5bba42193",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3200,
        0
      ],
      "parameters": {}
    },
    {
      "id": "a62094e3-daaa-458c-8e6a-699fb3d16b32",
      "name": "Schedule - Discovery",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3200,
        -200
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1,3,5"
            }
          ]
        }
      }
    },
    {
      "id": "9e5bd81d-7da6-4d8b-a008-0f87f1138d35",
      "name": "Schedule - Follow-ups",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3200,
        200
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "91dfd4d1-1330-467a-a1d4-73596b440760",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2960,
        0
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 3
      }
    },
    {
      "id": "781b049c-7da9-4a43-9d30-2fbd50132381",
      "name": "Workflow Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2720,
        0
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "c7da0083-0878-4c67-8aa8-121e8d543ce5",
              "name": "runMode",
              "value": "full",
              "type": "string"
            },
            {
              "id": "f66a9307-b827-4bb3-ab14-0acb4f866afc",
              "name": "spreadsheetId",
              "value": "={{ $env.COGNIX_LEADS_SHEET_ID || '' }}",
              "type": "string"
            },
            {
              "id": "cb2455b6-bbbb-4ea3-87cb-0ba8b92034b7",
              "name": "sheetName",
              "value": "Leads",
              "type": "string"
            },
            {
              "id": "ef36db26-0098-4206-800e-4ac0bc35f9bb",
              "name": "serperQueries",
              "value": "=[\"AI SaaS company site:linkedin.com/company\",\"B2B SaaS startup hiring operations\",\"recruitment agency workflow automation\",\"agency scaling operations team\",\"workflow-heavy SaaS company careers\"]",
              "type": "array"
            },
            {
              "id": "430b5cb9-862b-48e0-964f-a6d353abef75",
              "name": "discoveryBatchSize",
              "value": 5,
              "type": "number"
            },
            {
              "id": "6b0c51d1-9adc-413c-8116-c0682cae7b90",
              "name": "scrapeBatchSize",
              "value": 2,
              "type": "number"
            },
            {
              "id": "3113ec99-9787-47da-a1e4-0a40f3c9b902",
              "name": "outreachBatchSize",
              "value": 5,
              "type": "number"
            },
            {
              "id": "5563198c-0144-4410-9e45-d77cf27ad5b0",
              "name": "followupBatchSize",
              "value": 5,
              "type": "number"
            },
            {
              "id": "d9ba2631-2f8b-43a5-b106-5acacba27876",
              "name": "serperWaitMs",
              "value": 2000,
              "type": "number"
            },
            {
              "id": "a448dd2a-956f-4f8a-897a-efb9e88939e5",
              "name": "firecrawlWaitMs",
              "value": 3000,
              "type": "number"
            },
            {
              "id": "c33ae75c-cd59-49a8-bd21-4ff9ee001ce8",
              "name": "geminiWaitMs",
              "value": 1200,
              "type": "number"
            },
            {
              "id": "0723ea83-a5f3-4a60-8a55-ce51f83fdfef",
              "name": "maxScrapeChars",
              "value": 8000,
              "type": "number"
            },
            {
              "id": "b3abac3a-095b-4025-96c4-5236bee87f95",
              "name": "fromEmail",
              "value": "={{ $env.COGNIX_FROM_EMAIL || '' }}",
              "type": "string"
            },
            {
              "id": "d8e5a567-f14a-470f-a955-60f10ffcc7fd",
              "name": "senderName",
              "value": "CognixAI Labs",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "notes": "Set COGNIX_LEADS_SHEET_ID, GEMINI_API_KEY, SERPER_API_KEY, FIRECRAWL_API_KEY in Windows env. Restart n8n after changes."
    },
    {
      "id": "9f75ff01-ed33-4309-8b84-33f9514c2023",
      "name": "Detect Run Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2480,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const config = $input.first().json;\nif (!config.spreadsheetId) {\n  throw new Error('COGNIX_LEADS_SHEET_ID is required. Set it in Workflow Config or environment variables.');\n}\nif (!$env.GEMINI_API_KEY) {\n  throw new Error('GEMINI_API_KEY is required for AI analysis and personalization.');\n}\nconst discoveryRan = $('Schedule - Discovery').isExecuted;\nconst followupsRan = $('Schedule - Follow-ups').isExecuted;\nconst manualRan = $('Manual Trigger').isExecuted;\nlet runMode = 'full';\nif (followupsRan && !discoveryRan && !manualRan) runMode = 'followups_only';\nelse if (discoveryRan && !manualRan) runMode = 'discovery_pipeline';\nelse if (manualRan) runMode = 'full';\nreturn [{ json: { ...config, runMode } }];"
      }
    },
    {
      "id": "9b905dc0-7e4e-42df-8022-d57998fc8e9e",
      "name": "Route Run Mode",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2240,
        0
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.runMode }}",
                    "rightValue": "followups_only",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "followups_only"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.runMode }}",
                    "rightValue": "discovery_pipeline",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "discovery_pipeline"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "fallbackOutputName": "full_pipeline"
        }
      }
    },
    {
      "id": "157bfae3-51f3-47c9-ae05-6ee11fcda9c7",
      "name": "Read Existing Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2000,
        -400
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheetName }}",
          "mode": "name"
        },
        "options": {
          "rangeDefinition": "specifyRange",
          "range": "A:AA"
        }
      }
    },
    {
      "id": "37a4d398-4cf4-488f-b75a-22b7e1686c3f",
      "name": "Build Dedup Index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        -400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const config = $('Detect Run Mode').first().json;\nconst rows = $input.all().map((i) => i.json).filter((r) => r.lead_id || r.company_name);\nconst seenDomains = new Set();\nconst seenNames = new Set();\nfor (const r of rows) {\n  const website = String(r.website || r.Website || '')\n    .toLowerCase()\n    .replace(/^https?:\\/\\//, '')\n    .replace(/\\/$/, '')\n    .split('/')[0];\n  const name = String(r.company_name || r['Company Name'] || '')\n    .toLowerCase()\n    .trim();\n  if (website) seenDomains.add(website);\n  if (name) seenNames.add(name);\n}\nreturn [\n  {\n    json: {\n      ...config,\n      seenDomains: [...seenDomains],\n      seenNames: [...seenNames],\n      existingRowCount: rows.length,\n    },\n  },\n];"
      }
    },
    {
      "id": "fe34719c-2ca7-42a6-87da-bae905b19f68",
      "name": "Build Discovery Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        -400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $input.first().json;\nlet queries = cfg.serperQueries;\nif (typeof queries === 'string') {\n  try { queries = JSON.parse(queries); } catch { queries = []; }\n}\nif (!Array.isArray(queries)) queries = [];\nconst items = queries.map((q, idx) => ({\n  json: { ...cfg, searchQuery: q, page: 1, maxPages: 3, queryIndex: idx },\n}));\nreturn items.length\n  ? items\n  : [{ json: { ...cfg, searchQuery: 'B2B SaaS AI automation company', page: 1, maxPages: 1, queryIndex: 0 } }];"
      }
    },
    {
      "id": "fa6f3690-cc96-4075-9bf4-2da48bd8ade9",
      "name": "Split Discovery Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1280,
        -400
      ],
      "parameters": {
        "batchSize": "={{ $json.discoveryBatchSize || 5 }}",
        "options": {
          "reset": false
        }
      }
    },
    {
      "id": "d83bd54d-e250-4a08-acf9-50d748752557",
      "name": "Serper Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        -400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "={{ $env.SERPER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: $json.searchQuery, num: 10, page: $json.page || 1, gl: \"us\", hl: \"en\" }) }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetween": 2500
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Requires SERPER_API_KEY env var."
    },
    {
      "id": "241b20c9-84d2-4701-a934-8da02414d41c",
      "name": "Wait Serper Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -800,
        -400
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ $(\"Workflow Config\").first().json.serperWaitMs || 2000 }}",
        "unit": "milliseconds"
      }
    },
    {
      "id": "b7167a17-be1e-4b15-a429-304241a32aa5",
      "name": "Parse Serper Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const src = $('Split Discovery Batches').first().json;\nconst body = $input.first().json;\nconst organic = body.organic || [];\nconst companies = organic\n  .map((r, i) => {\n    const link = r.link || '';\n    let website = link;\n    if (link.includes('linkedin.com')) {\n      website = (r.snippet || '').match(/https?:\\/\\/[^\\s)]+/)?.[0] || '';\n    }\n    const domain = website.replace(/^https?:\\/\\//, '').split('/')[0];\n    return {\n      lead_id: 'cognix_' + Date.now() + '_' + src.queryIndex + '_' + i,\n      company_name: (r.title || '').split('|')[0].split('-')[0].trim() || r.title || 'Unknown Company',\n      website: website.startsWith('http') ? website : domain ? 'https://' + domain : '',\n      linkedin_url: link.includes('linkedin.com') ? link : '',\n      description: r.snippet || '',\n      source_query: src.searchQuery,\n      discovery_page: src.page,\n      status: 'discovered',\n      outreach_stage: 'none',\n      reply_detected: false,\n      created_at: new Date().toISOString(),\n    };\n  })\n  .filter((c) => c.company_name);\nreturn companies.map((json) => ({ json }));"
      }
    },
    {
      "id": "f385b85d-374f-4bc5-87f9-1cf47bd0360a",
      "name": "IF More Serper Pages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        -520
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $(\"Split Discovery Batches\").first().json.page }}",
              "rightValue": "={{ $(\"Split Discovery Batches\").first().json.maxPages }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "6a62c763-e0dc-4ab5-b6c3-a4ab09a3e274",
      "name": "Increment Serper Page",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -640
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "f7eb78a8-505c-43ac-831f-9485d93ef706",
              "name": "page",
              "value": "={{ $(\"Split Discovery Batches\").first().json.page + 1 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true
      }
    },
    {
      "id": "17a5782a-ac35-4c5b-8034-9f361cbf2613",
      "name": "Dedupe Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $('Build Dedup Index').first().json;\nconst seenDomains = new Set(cfg.seenDomains || []);\nconst seenNames = new Set(cfg.seenNames || []);\nconst unique = [];\nconst localDomains = new Set();\nfor (const item of $input.all()) {\n  const c = item.json;\n  const domain = String(c.website || '')\n    .toLowerCase()\n    .replace(/^https?:\\/\\//, '')\n    .replace(/\\/$/, '')\n    .split('/')[0];\n  const name = String(c.company_name || '').toLowerCase().trim();\n  if (!name) continue;\n  if (domain && (seenDomains.has(domain) || localDomains.has(domain))) continue;\n  if (seenNames.has(name)) continue;\n  if (domain) {\n    localDomains.add(domain);\n    seenDomains.add(domain);\n  }\n  seenNames.add(name);\n  unique.push({ json: c });\n}\nreturn unique;"
      }
    },
    {
      "id": "bfc1291a-db27-4e4a-ae14-dd607d011d42",
      "name": "IF Has New Companies",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        -400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "8d377c5b-3187-44c9-aa12-6ae629229a76",
      "name": "IF Apify Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        -400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $env.APIFY_API_TOKEN }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "notes": "Skips Apify when APIFY_API_TOKEN is not set."
    },
    {
      "id": "5269774b-282b-4953-88fb-ee1576cf6312",
      "name": "Apify Optional Enrich",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        -480
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~google-search-scraper/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.APIFY_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ queries: $json.company_name + \" official website\", maxPagesPerQuery: 1, resultsPerPage: 3 }) }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetween": 2500
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "4933e1a1-84b7-4919-a2ec-cfdc9494e226",
      "name": "Skip Apify Pass-through",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        -320
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { ...$json, apify_enriched: false } };"
      }
    },
    {
      "id": "d203deb1-929b-4791-a453-c555c62a7df6",
      "name": "Merge Apify Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const items = $('Dedupe Companies').all();\nconst base = items[$itemIndex]?.json || $json;\nconst apify = $input.first().json;\nlet website = base.website;\nif (Array.isArray(apify) && apify[0]?.url) website = apify[0].url;\nif (apify?.organic?.[0]?.link) website = apify.organic[0].link;\nreturn { json: { ...base, website: website || base.website, apify_enriched: true } };"
      }
    },
    {
      "id": "59621582-a99a-4522-b90d-bc9c145e4a7a",
      "name": "Merge Apify Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -320
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: $json };"
      }
    },
    {
      "id": "ad5e2dee-4dbb-4b98-96e4-d4b63f93a117",
      "name": "Merge Enrich Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        440,
        -400
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      }
    },
    {
      "id": "01cfd7b7-f3d1-4f98-ae0f-74464f8d9be1",
      "name": "Split Scrape Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        -400
      ],
      "parameters": {
        "batchSize": "={{ $(\"Build Dedup Index\").first().json.scrapeBatchSize || 2 }}",
        "options": {
          "reset": false
        }
      }
    },
    {
      "id": "dc1c7e47-1e33-4431-a85c-aa4ad42f8021",
      "name": "Attach Lead Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const cfg = $('Build Dedup Index').first().json;\nconst lead = $json;\nreturn {\n  json: {\n    ...cfg,\n    ...lead,\n    _lead_ref: lead.lead_id,\n    website: lead.website || '',\n  },\n};"
      }
    },
    {
      "id": "73dd5042-5b2c-4e89-9e3e-dd0854fa9358",
      "name": "Firecrawl Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        -400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.FIRECRAWL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $(\"Attach Lead Context\").first().json.website, formats: [\"markdown\"], onlyMainContent: true, timeout: 60000 }) }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetween": 2500
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "f0c986c0-2085-4a28-84df-5d0a3440f582",
      "name": "Wait Firecrawl Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1160,
        -400
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ $(\"Workflow Config\").first().json.firecrawlWaitMs || 3000 }}",
        "unit": "milliseconds"
      }
    },
    {
      "id": "a401ef97-4e90-4df2-8091-bf38bb0ef2d4",
      "name": "Firecrawl Careers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        -400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.FIRECRAWL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  url: ($(\"Attach Lead Context\").first().json.website || \"\").replace(/\\/$/, \"\") + \"/careers\",\n  formats: [\"markdown\"],\n  onlyMainContent: true,\n  timeout: 60000\n}) }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetween": 2500
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "1371dd11-c51b-4988-a08a-4cceed48e118",
      "name": "Firecrawl Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        -400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.FIRECRAWL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  url: ($(\"Attach Lead Context\").first().json.website || \"\").replace(/\\/$/, \"\") + \"/product\",\n  formats: [\"markdown\"],\n  onlyMainContent: true,\n  timeout: 60000\n}) }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetween": 2500
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "93d44ee3-d79b-4a0d-8945-544ff6e31a03",
      "name": "Extract Scrape Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        -400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const company = $('Attach Lead Context').first().json;\nconst maxChars = Number(company.maxScrapeChars) || 8000;\nconst slice = (v) => String(v || '').slice(0, maxChars);\nconst homepage =\n  $('Firecrawl Homepage').first().json?.data?.markdown ||\n  $('Firecrawl Homepage').first().json?.markdown ||\n  '';\nconst careers = $('Firecrawl Careers').first().json?.data?.markdown || '';\nconst product =\n  $('Firecrawl Product').first().json?.data?.markdown ||\n  $('Firecrawl Product').first().json?.markdown ||\n  '';\nconst combined = [homepage, careers, product].join('\\n').toLowerCase();\nconst count = (term) => (combined.match(new RegExp(term, 'gi')) || []).length;\nreturn {\n  json: {\n    lead_id: company.lead_id,\n    company_name: company.company_name,\n    website: company.website,\n    linkedin_url: company.linkedin_url,\n    description: company.description,\n    source_query: company.source_query,\n    scraped_homepage: slice(homepage),\n    scraped_careers: slice(careers),\n    scraped_product: slice(product),\n    signals: {\n      ai_mentions: count('\\\\b(ai|artificial intelligence|llm|gemini|machine learning)\\\\b'),\n      automation_mentions: count('\\\\b(automation|automate|workflow|orchestrat)\\\\b'),\n      hiring_mentions: count('\\\\b(hiring|careers|open roles)\\\\b'),\n      support_mentions: count('\\\\b(support|customer success|helpdesk|ticket)\\\\b'),\n    },\n    status: 'scraped',\n    outreach_stage: company.outreach_stage || 'none',\n    reply_detected: false,\n    created_at: company.created_at || new Date().toISOString(),\n    updated_at: new Date().toISOString(),\n  },\n};"
      }
    },
    {
      "id": "9e45f73b-995e-4499-8d52-09231301e074",
      "name": "Wait Gemini Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2120,
        -400
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ $(\"Workflow Config\").first().json.geminiWaitMs || 1200 }}",
        "unit": "milliseconds"
      }
    },
    {
      "id": "5c67c9f3-9f36-46e0-92ad-7d0acb36a258",
      "name": "Gemini Lead Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        -400
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=\" + $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [{\n      text: \"You are a B2B GTM analyst for CognixAI Labs. Return STRICT JSON only with keys: ai_readiness_score, operational_complexity_score, buying_probability, likely_pain_points, workflow_complexity, internal_tooling_needs, onboarding_complexity, support_burden, scaling_signals, summary. No markdown.\\n\\nCompany: \" + $json.company_name + \"\\nWebsite: \" + $json.website + \"\\nDescription: \" + ($json.description || \"\") + \"\\nSignals: \" + JSON.stringify($json.signals || {}) + \"\\nHomepage: \" + ($json.scraped_homepage || \"\").slice(0, 3500) + \"\\nCareers: \" + ($json.scraped_careers || \"\").slice(0, 2000)\n    }]\n  }],\n  generationConfig: { temperature: 0.2, responseMimeType: \"application/json\" }\n}) }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetween": 2500
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Gemini 2.0 Flash via GEMINI_API_KEY query param."
    },
    {
      "id": "c17f6557-3465-4bf6-a61c-36798053643a",
      "name": "IF Gemini Analysis OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2600,
        -400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.candidates?.[0]?.content?.parts?.[0]?.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b0c9fb23-b4f1-43a8-87e5-d9ec33f41a07",
      "name": "Parse AI Analysis JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        -400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function extractGeminiText(payload) {\n  if (!payload || typeof payload !== 'object') return '';\n  const parts = payload.candidates?.[0]?.content?.parts;\n  if (!Array.isArray(parts)) return '';\n  return parts.map((p) => p?.text || '').join('').trim();\n}\nfunction parseStrictJson(text) {\n  if (!text) return null;\n  let cleaned = String(text).trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/^\\`\\`\\`(?:json)?\\s*/i, '').replace(/\\`\\`\\`\\s*$/, '').trim();\n  }\n  try {\n    return JSON.parse(cleaned);\n  } catch (_) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try {\n        return JSON.parse(match[0]);\n      } catch (_) {}\n    }\n  }\n  return null;\n}\nconst lead = $('Extract Scrape Signals').first().json;\nconst text = extractGeminiText($input.first().json);\nlet analysis = parseStrictJson(text);\nif (!analysis || typeof analysis !== 'object') {\n  analysis = {\n    summary: text || 'Analysis parse fallback',\n    ai_readiness_score: 50,\n    operational_complexity_score: 50,\n    buying_probability: 0.3,\n    likely_pain_points: [],\n  };\n}\nreturn {\n  json: {\n    ...lead,\n    ...analysis,\n    status: 'analyzed',\n    updated_at: new Date().toISOString(),\n  },\n};"
      }
    },
    {
      "id": "a609eccb-72f4-42f4-b885-d2bc923eb376",
      "name": "Handle Gemini Analysis Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        -200
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lead = $('Extract Scrape Signals').first().json;\nconst errMsg = $json.error?.message || $json.message || 'Gemini analysis failed';\nreturn {\n  json: {\n    ...lead,\n    error_log: errMsg,\n    status: 'analysis_failed',\n    ai_readiness_score: 40,\n    operational_complexity_score: 50,\n    buying_probability: 0.25,\n    likely_pain_points: [],\n    summary: 'Fallback scoring applied after Gemini error',\n    updated_at: new Date().toISOString(),\n  },\n};"
      }
    },
    {
      "id": "ddcc5fd1-a2ae-46df-aed0-83839cb680ab",
      "name": "ICP Weighted Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        -400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const l = $input.first().json;\nconst s = l.signals || {};\nconst weights = { ai: 0.2, automation: 0.15, hiring: 0.15, support: 0.1, ai_readiness: 0.15, complexity: 0.1, buying: 0.15 };\nconst norm = (v, max = 10) => Math.min(100, (Number(v) || 0) / max * 100);\nconst score =\n  norm(s.ai_mentions) * weights.ai +\n  norm(s.automation_mentions) * weights.automation +\n  norm(s.hiring_mentions) * weights.hiring +\n  norm(s.support_mentions) * weights.support +\n  (Number(l.ai_readiness_score) || 50) * weights.ai_readiness +\n  (Number(l.operational_complexity_score) || 50) * weights.complexity +\n  (Number(l.buying_probability) || 0) * 100 * weights.buying;\nconst icp_score = Math.round(Math.min(100, Math.max(0, score)));\nlet priority = 'low';\nif (icp_score >= 75) priority = 'high';\nelse if (icp_score >= 50) priority = 'medium';\nreturn {\n  json: {\n    ...l,\n    icp_score,\n    priority,\n    route: priority === 'high' ? 'immediate_outreach' : priority === 'medium' ? 'nurture' : 'archive',\n    lead_quality: priority,\n    status: priority === 'low' ? 'archived' : 'scored',\n    updated_at: new Date().toISOString(),\n  },\n};"
      }
    },
    {
      "id": "5461a44d-7282-4ff0-beb8-4f2b915a331b",
      "name": "Route ICP Priority",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3320,
        -400
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "high",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "high"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "medium"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "fallbackOutputName": "low_archive"
        }
      }
    },
    {
      "id": "f5305b71-4d16-4f12-bca9-7ea49f05b92a",
      "name": "Wait Gemini Personalize",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3560,
        -560
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ $(\"Workflow Config\").first().json.geminiWaitMs || 1200 }}",
        "unit": "milliseconds"
      }
    },
    {
      "id": "bebd0855-deff-4136-8e95-bbe5bca04357",
      "name": "Gemini Personalization",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3800,
        -560
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=\" + $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [{\n      text: \"Write founder-level, human, non-salesy outreach for CognixAI Labs. Return STRICT JSON only with keys: linkedin_opener, email_subject, email_body, followup_1, followup_2, breakup_email, personalization_notes. Max 120 words per email. No markdown fences.\\n\\nLead context: \" + JSON.stringify({\n        company_name: $json.company_name,\n        website: $json.website,\n        pain_points: $json.likely_pain_points,\n        icp_score: $json.icp_score,\n        summary: $json.summary\n      })\n    }]\n  }],\n  generationConfig: { temperature: 0.65, responseMimeType: \"application/json\" }\n}) }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetween": 2500
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "eb6221fc-a90d-4d04-ac0a-43490d94b9ee",
      "name": "Parse Personalization JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4040,
        -560
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function extractGeminiText(payload) {\n  if (!payload || typeof payload !== 'object') return '';\n  const parts = payload.candidates?.[0]?.content?.parts;\n  if (!Array.isArray(parts)) return '';\n  return parts.map((p) => p?.text || '').join('').trim();\n}\nfunction parseStrictJson(text) {\n  if (!text) return null;\n  let cleaned = String(text).trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/^\\`\\`\\`(?:json)?\\s*/i, '').replace(/\\`\\`\\`\\s*$/, '').trim();\n  }\n  try {\n    return JSON.parse(cleaned);\n  } catch (_) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try {\n        return JSON.parse(match[0]);\n      } catch (_) {}\n    }\n  }\n  return null;\n}\nconst lead = $('ICP Weighted Scoring').first().json;\nconst text = extractGeminiText($input.first().json);\nlet copy = parseStrictJson(text);\nif (!copy || typeof copy !== 'object') {\n  copy = {\n    email_subject: 'Quick idea for ' + (lead.company_name || 'your team'),\n    email_body: text || 'Hi — noticed operational complexity scaling at your company. Worth a brief chat?',\n    followup_1: 'Following up in case this landed at a busy time.',\n    followup_2: 'Last nudge — happy to share how similar teams reduced ops load.',\n    breakup_email: 'Closing the loop — reach out anytime if timing improves.',\n    linkedin_opener: 'Noticed your team scaling ops — curious how you handle workflow load.',\n    personalization_notes: 'Gemini parse fallback used',\n  };\n}\nreturn {\n  json: {\n    ...lead,\n    ...copy,\n    outreach_stage: lead.priority === 'high' ? 'ready_to_send' : 'nurture_queued',\n    status: lead.priority === 'low' ? 'archived' : 'personalized',\n    updated_at: new Date().toISOString(),\n  },\n};"
      }
    },
    {
      "id": "b3daf4bb-0339-4cbd-98fb-73194154527e",
      "name": "Handle Gemini Personalize Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4040,
        -420
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lead = $('ICP Weighted Scoring').first().json;\nreturn {\n  json: {\n    ...lead,\n    email_subject: 'Ops question for ' + (lead.company_name || 'your team'),\n    email_body: 'Hi — sharing a quick thought on reducing workflow overhead for teams like yours.',\n    outreach_stage: lead.priority === 'high' ? 'ready_to_send' : 'nurture_queued',\n    status: 'personalized_fallback',\n    error_log: $json.error?.message || 'Gemini personalization failed',\n    updated_at: new Date().toISOString(),\n  },\n};"
      }
    },
    {
      "id": "b14f6550-b12a-41be-90c0-bb6e8c6c207b",
      "name": "Edit Fields - Lead Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4280,
        -560
      ],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "61256622-21ed-485c-aab1-39cd97675628",
              "name": "contact_email",
              "value": "={{ $json.contact_email || ('hello@' + String($json.website || '').replace(/^https?:\\/\\//,'').split('/')[0]) }}",
              "type": "string"
            },
            {
              "id": "9634707d-9129-4ba4-b11a-c30d5dba1d41",
              "name": "route",
              "value": "={{ $json.priority === \"high\" ? \"immediate_outreach\" : ($json.priority === \"medium\" ? \"nurture\" : \"archive\") }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "e0c5b4c6-3e9c-47c6-a7ae-5d46ec61844e",
      "name": "Archive Low ICP",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3560,
        -240
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "adeb9d00-4f64-4776-bce7-44b7067fe945",
              "name": "status",
              "value": "archived",
              "type": "string"
            },
            {
              "id": "9c831c09-d1d6-4b12-93ba-a7a3260afb73",
              "name": "outreach_stage",
              "value": "archived",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true
      }
    },
    {
      "id": "31046d65-18eb-4761-b9b1-813327e8437a",
      "name": "Merge Outreach Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4520,
        -400
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      }
    },
    {
      "id": "20b18593-d367-45d9-b5b6-fa7ac2ceef43",
      "name": "Sheets Append Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4760,
        -400
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $(\"Build Dedup Index\").first().json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $(\"Build Dedup Index\").first().json.sheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "company_name": "={{ $json.company_name }}",
            "website": "={{ $json.website }}",
            "linkedin_url": "={{ $json.linkedin_url }}",
            "description": "={{ $json.description }}",
            "contact_email": "={{ $json.contact_email }}",
            "icp_score": "={{ $json.icp_score }}",
            "priority": "={{ $json.priority }}",
            "lead_quality": "={{ $json.lead_quality }}",
            "ai_readiness_score": "={{ $json.ai_readiness_score }}",
            "operational_complexity_score": "={{ $json.operational_complexity_score }}",
            "buying_probability": "={{ $json.buying_probability }}",
            "status": "={{ $json.status }}",
            "outreach_stage": "={{ $json.outreach_stage }}",
            "reply_detected": "={{ $json.reply_detected || false }}",
            "linkedin_opener": "={{ $json.linkedin_opener }}",
            "email_subject": "={{ $json.email_subject }}",
            "email_body": "={{ $json.email_body }}",
            "followup_1": "={{ $json.followup_1 }}",
            "followup_2": "={{ $json.followup_2 }}",
            "breakup_email": "={{ $json.breakup_email }}",
            "last_contacted": "={{ $json.last_contacted || \"\" }}",
            "personalization_notes": "={{ $json.personalization_notes }}",
            "error_log": "={{ $json.error_log || \"\" }}",
            "created_at": "={{ $json.created_at }}",
            "updated_at": "={{ $json.updated_at }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      }
    },
    {
      "id": "4d990cd9-7e73-4c8b-925e-cbcd164c5438",
      "name": "Loop Scrape Batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5000,
        -400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { batch_continue: true } }];"
      }
    },
    {
      "id": "5ae6918d-4fdb-4208-b467-79d5f781bb2d",
      "name": "Read Leads For Outreach",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5240,
        -400
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $(\"Build Dedup Index\").first().json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $(\"Build Dedup Index\").first().json.sheetName }}",
          "mode": "name"
        },
        "options": {
          "rangeDefinition": "specifyRange",
          "range": "A:AA"
        }
      }
    },
    {
      "id": "e6f5117a-7d94-495c-9809-caeb1ed69d24",
      "name": "Filter Ready To Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5480,
        -400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $input.all().filter((i) => {\n  const r = i.json;\n  const stage = String(r.outreach_stage || r['outreach_stage'] || '');\n  const replied = r.reply_detected === true || r.reply_detected === 'TRUE';\n  const last = r.last_contacted || r['last_contacted'] || '';\n  const email = r.contact_email || r['contact_email'] || '';\n  return stage === 'ready_to_send' && !replied && !last && String(email).includes('@');\n});"
      }
    },
    {
      "id": "3f052fec-25af-4583-94a5-866ad28bae9f",
      "name": "Split Outreach Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5720,
        -400
      ],
      "parameters": {
        "batchSize": "={{ $(\"Build Dedup Index\").first().json.outreachBatchSize || 5 }}",
        "options": {
          "reset": false
        }
      }
    },
    {
      "id": "79d330ea-275e-4112-8b02-f0f0df6feea3",
      "name": "IF Not Already Contacted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5960,
        -400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ String($json.last_contacted || $json[\"last_contacted\"] || \"\") }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            },
            {
              "leftValue": "={{ $json.reply_detected === true || $json.reply_detected === \"TRUE\" }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "3cf84fe7-0910-46c2-b40f-a693584dbf3e",
      "name": "Gmail Send Initial",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        6200,
        -480
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.contact_email || $json[\"contact_email\"] }}",
        "subject": "={{ $json.email_subject || (\"Question about ops at \" + ($json.company_name || \"\")) }}",
        "emailType": "text",
        "message": "={{ $json.email_body || $json[\"email_body\"] }}",
        "options": {
          "senderName": "={{ $(\"Workflow Config\").first().json.senderName }}",
          "replyTo": "={{ $(\"Workflow Config\").first().json.fromEmail }}"
        }
      }
    },
    {
      "id": "7f80f453-0da5-42c5-b274-89c87aaa52c2",
      "name": "Sheets Update Contacted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6440,
        -480
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $(\"Build Dedup Index\").first().json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $(\"Build Dedup Index\").first().json.sheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "outreach_stage": "initial_sent",
            "status": "contacted",
            "last_contacted": "={{ $now.toISO() }}",
            "updated_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "lead_id"
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      }
    },
    {
      "id": "f8287733-0a90-4564-8820-aa032f7fa066",
      "name": "Run Follow-up Pass",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6680,
        -400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { ...$('Build Dedup Index').first().json, triggerFollowups: true } }];"
      }
    },
    {
      "id": "4fdce52f-38cc-4387-a9a5-1e973bd7e85d",
      "name": "Read Active Outreach Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2000,
        400
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheetName }}",
          "mode": "name"
        },
        "options": {
          "rangeDefinition": "specifyRange",
          "range": "A:AA"
        }
      }
    },
    {
      "id": "72a6c95a-7ecb-42d0-b4fd-c15cfb0ddf1e",
      "name": "Filter Follow-up Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $('Detect Run Mode').first().json;\nconst now = Date.now();\nconst day = 86400000;\nconst items = $input.all().map((i) => i.json).filter((r) => {\n  if (r.reply_detected === true || r.reply_detected === 'TRUE') return false;\n  const stage = String(r.outreach_stage || '');\n  if (!['initial_sent', 'followup_1_sent', 'followup_2_sent'].includes(stage)) return false;\n  const last = Date.parse(r.last_contacted || r.updated_at || 0);\n  if (!last) return false;\n  const email = String(r.contact_email || r['contact_email'] || '');\n  if (!email.includes('@')) return false;\n  if (stage === 'initial_sent' && now - last >= 3 * day) return true;\n  if (stage === 'followup_1_sent' && now - last >= 5 * day) return true;\n  if (stage === 'followup_2_sent' && now - last >= 7 * day) return true;\n  return false;\n});\nreturn items.map((json) => ({ json: { ...cfg, ...json } }));"
      }
    },
    {
      "id": "983dced6-ab42-42c1-ac12-2c0d32e4af0c",
      "name": "Split Follow-up Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1520,
        400
      ],
      "parameters": {
        "batchSize": "={{ $(\"Workflow Config\").first().json.followupBatchSize || 5 }}",
        "options": {
          "reset": false
        }
      }
    },
    {
      "id": "f166ef1d-3e70-4ee5-b9d6-14da6428e199",
      "name": "Gmail Check Replies",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1280,
        400
      ],
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 5,
        "filters": {
          "q": "={{ \"from:\" + String($json.contact_email || $json[\"contact_email\"] || \"\").trim() + \" newer_than:14d in:inbox\" }}"
        }
      }
    },
    {
      "id": "4b46e453-f104-41e9-b21f-b363594aff16",
      "name": "IF Reply Detected",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "10df42fa-8365-4692-ba10-8c5bcc669ba9",
      "name": "Sheets Mark Replied",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -800,
        280
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $(\"Split Follow-up Batches\").first().json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $(\"Split Follow-up Batches\").first().json.sheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reply_detected": true,
            "status": "replied",
            "outreach_stage": "stopped_reply",
            "lead_quality": "high_intent",
            "updated_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "lead_id"
          ]
        }
      }
    },
    {
      "id": "081f1a5c-03a9-4639-94d1-c3fe28e3e807",
      "name": "Log High Intent Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        200
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lead = $('Split Follow-up Batches').first().json;\nreturn {\n  json: {\n    ...lead,\n    alert_logged: true,\n    alert_message: 'High-intent reply from ' + (lead.company_name || lead.lead_id),\n    alert_channel: 'sheets_and_execution_log',\n    logged_at: new Date().toISOString(),\n  },\n};"
      },
      "notes": "Default high-intent handling. No webhook required."
    },
    {
      "id": "618c257a-a397-4174-8647-ed25dcec8922",
      "name": "IF High Intent Webhook Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $env.COGNIX_HIGH_INTENT_WEBHOOK_URL }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "notes": "Optional. Set COGNIX_HIGH_INTENT_WEBHOOK_URL to POST alerts."
    },
    {
      "id": "dddc2cb7-4f21-4a93-bcc9-6d85a24dc6c2",
      "name": "HTTP Alert High Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.COGNIX_HIGH_INTENT_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.alert_message, lead: $json }) }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetween": 2500
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "30fcfd25-1669-4e59-a0ff-13def1a1d29c",
      "name": "Switch Follow-up Stage",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -800,
        520
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Split Follow-up Batches\").first().json.outreach_stage }}",
                    "rightValue": "initial_sent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "followup_1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Split Follow-up Batches\").first().json.outreach_stage }}",
                    "rightValue": "followup_1_sent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "followup_2"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "fallbackOutputName": "breakup"
        }
      }
    },
    {
      "id": "f9c8ad42-f47b-4369-8b29-ac49c453ba9b",
      "name": "Gmail Send Follow-up 1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -560,
        440
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.contact_email || $json[\"contact_email\"] }}",
        "subject": "={{ \"Re: \" + ($json.email_subject || $json[\"email_subject\"] || \"following up\") }}",
        "emailType": "text",
        "message": "={{ $json.followup_1 || $json[\"followup_1\"] }}"
      }
    },
    {
      "id": "7e718b3c-52ee-4d89-b850-0330d1669cc6",
      "name": "Sheets Update Follow-up 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -320,
        440
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "outreach_stage": "followup_1_sent",
            "last_contacted": "={{ $now.toISO() }}",
            "updated_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "lead_id"
          ]
        }
      }
    },
    {
      "id": "8a515b2b-28b1-4968-8369-9c3f258eacd8",
      "name": "Gmail Send Follow-up 2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -560,
        640
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.contact_email || $json[\"contact_email\"] }}",
        "subject": "={{ \"Re: \" + ($json.email_subject || \"checking in\") }}",
        "emailType": "text",
        "message": "={{ $json.followup_2 || $json[\"followup_2\"] }}"
      }
    },
    {
      "id": "34619eac-ce79-4bf5-a2c1-3ed1d345a644",
      "name": "Sheets Update Follow-up 2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -320,
        640
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "outreach_stage": "followup_2_sent",
            "last_contacted": "={{ $now.toISO() }}",
            "updated_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "lead_id"
          ]
        }
      }
    },
    {
      "id": "7ca18864-7854-474b-b125-173330c66437",
      "name": "Gmail Send Breakup",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -560,
        840
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.contact_email || $json[\"contact_email\"] }}",
        "subject": "={{ \"Closing the loop — \" + ($json.company_name || \"\") }}",
        "emailType": "text",
        "message": "={{ $json.breakup_email || $json[\"breakup_email\"] }}"
      }
    },
    {
      "id": "ac5d88ef-213a-4333-972b-3e197d4aec11",
      "name": "Sheets Update Breakup",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -320,
        840
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "outreach_stage": "breakup_sent",
            "status": "closed",
            "last_contacted": "={{ $now.toISO() }}",
            "updated_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "lead_id"
          ]
        }
      }
    },
    {
      "id": "3307fbbf-a5d6-41dc-bc2c-71c694449deb",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -3200,
        600
      ],
      "parameters": {}
    },
    {
      "id": "658b6881-a3a7-4948-af6b-b6bf4378495f",
      "name": "Log Error Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2960,
        600
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const err = $input.first().json;\nreturn [{\n  json: {\n    workflow: 'CognixAI Outbound Lead Intelligence',\n    timestamp: new Date().toISOString(),\n    execution_id: $execution.id,\n    node: err.execution?.lastNodeExecuted || 'unknown',\n    message: err.execution?.error?.message || JSON.stringify(err),\n    stack: (err.execution?.error?.stack || '').toString().slice(0, 4000),\n  },\n}];"
      }
    },
    {
      "id": "ab73eaea-d87a-47c5-84c4-92064ebddbcd",
      "name": "Sheets Log Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2720,
        600
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.COGNIX_LEADS_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ErrorLog",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "execution_id": "={{ $json.execution_id }}",
            "node": "={{ $json.node }}",
            "message": "={{ $json.message }}",
            "stack": "={{ $json.stack }}"
          }
        }
      }
    },
    {
      "id": "1b013330-b24b-4a24-946b-e20562106e1d",
      "name": "IF Error Webhook Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2480,
        600
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $env.COGNIX_ERROR_WEBHOOK_URL }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "96918999-392b-4a62-a9f7-53c1196df05b",
      "name": "HTTP Error Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2240,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.COGNIX_ERROR_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetween": 2500
          },
          "timeout": 120000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "b91d3471-5bc7-4fd1-b62f-26c0332dece8",
      "name": "Handle Serper Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        -200
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "06ad37b1-3655-433d-9080-1a25776b0169",
              "name": "error_log",
              "value": "={{ $json.error?.message || \"Serper request failed\" }}",
              "type": "string"
            },
            {
              "id": "78993eff-fb99-4450-aa2f-e08278be1c7c",
              "name": "status",
              "value": "discovery_failed",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true
      }
    },
    {
      "id": "7539b88b-9fcc-4be7-ba2f-6596d5ff1c4e",
      "name": "Loop Discovery Batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -560
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { loop: true } }];"
      }
    },
    {
      "id": "e85b6358-a770-4d9b-b064-6b23eaadc641",
      "name": "NOTE Architecture",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3400,
        -500
      ],
      "parameters": {
        "content": "## CognixAI Outbound (Gemini)\n\nEnv: GEMINI_API_KEY, SERPER_API_KEY, FIRECRAWL_API_KEY, COGNIX_LEADS_SHEET_ID, COGNIX_FROM_EMAIL\nOptional: APIFY_API_TOKEN, COGNIX_HIGH_INTENT_WEBHOOK_URL, COGNIX_ERROR_WEBHOOK_URL\n\nAI: Gemini 2.0 Flash generateContent\nTriggers: Manual | Discovery Mon/Wed/Fri 06:00 | Follow-ups daily 09:00",
        "height": 320,
        "width": 520
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule - Discovery": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule - Follow-ups": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Workflow Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Config": {
      "main": [
        [
          {
            "node": "Detect Run Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Run Mode": {
      "main": [
        [
          {
            "node": "Route Run Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Run Mode": {
      "main": [
        [
          {
            "node": "Read Active Outreach Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Existing Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Existing Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Leads": {
      "main": [
        [
          {
            "node": "Build Dedup Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dedup Index": {
      "main": [
        [
          {
            "node": "Build Discovery Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Discovery Queries": {
      "main": [
        [
          {
            "node": "Split Discovery Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Discovery Batches": {
      "main": [
        [
          {
            "node": "Serper Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper Search": {
      "main": [
        [
          {
            "node": "Wait Serper Rate Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Serper Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Serper Rate Limit": {
      "main": [
        [
          {
            "node": "Parse Serper Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Serper Results": {
      "main": [
        [
          {
            "node": "IF More Serper Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF More Serper Pages": {
      "main": [
        [
          {
            "node": "Increment Serper Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dedupe Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Serper Page": {
      "main": [
        [
          {
            "node": "Serper Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe Companies": {
      "main": [
        [
          {
            "node": "IF Has New Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has New Companies": {
      "main": [
        [
          {
            "node": "IF Apify Enabled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Discovery Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Apify Enabled": {
      "main": [
        [
          {
            "node": "Apify Optional Enrich",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Apify Pass-through",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Optional Enrich": {
      "main": [
        [
          {
            "node": "Merge Apify Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Apify Pass-through": {
      "main": [
        [
          {
            "node": "Merge Apify Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Apify Enrichment": {
      "main": [
        [
          {
            "node": "Merge Enrich Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Apify Skip": {
      "main": [
        [],
        [
          {
            "node": "Merge Enrich Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Enrich Paths": {
      "main": [
        [
          {
            "node": "Split Scrape Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Scrape Batches": {
      "main": [
        [
          {
            "node": "Attach Lead Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Leads For Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Lead Context": {
      "main": [
        [
          {
            "node": "Firecrawl Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Homepage": {
      "main": [
        [
          {
            "node": "Wait Firecrawl Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Firecrawl Rate Limit": {
      "main": [
        [
          {
            "node": "Firecrawl Careers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Careers": {
      "main": [
        [
          {
            "node": "Firecrawl Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Product": {
      "main": [
        [
          {
            "node": "Extract Scrape Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Scrape Signals": {
      "main": [
        [
          {
            "node": "Wait Gemini Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Gemini Rate Limit": {
      "main": [
        [
          {
            "node": "Gemini Lead Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Lead Analysis": {
      "main": [
        [
          {
            "node": "IF Gemini Analysis OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Gemini Analysis Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Gemini Analysis OK": {
      "main": [
        [
          {
            "node": "Parse AI Analysis JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Gemini Analysis Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Analysis JSON": {
      "main": [
        [
          {
            "node": "ICP Weighted Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Gemini Analysis Error": {
      "main": [
        [
          {
            "node": "ICP Weighted Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ICP Weighted Scoring": {
      "main": [
        [
          {
            "node": "Route ICP Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route ICP Priority": {
      "main": [
        [
          {
            "node": "Wait Gemini Personalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Gemini Personalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Archive Low ICP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Gemini Personalize": {
      "main": [
        [
          {
            "node": "Gemini Personalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Personalization": {
      "main": [
        [
          {
            "node": "Parse Personalization JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Gemini Personalize Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Personalization JSON": {
      "main": [
        [
          {
            "node": "Edit Fields - Lead Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Gemini Personalize Error": {
      "main": [
        [
          {
            "node": "Edit Fields - Lead Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - Lead Record": {
      "main": [
        [
          {
            "node": "Merge Outreach Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Low ICP": {
      "main": [
        [
          {
            "node": "Merge Outreach Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Outreach Paths": {
      "main": [
        [
          {
            "node": "Sheets Append Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Append Lead": {
      "main": [
        [
          {
            "node": "Loop Scrape Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Scrape Batches": {
      "main": [
        [
          {
            "node": "Split Scrape Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads For Outreach": {
      "main": [
        [
          {
            "node": "Filter Ready To Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ready To Send": {
      "main": [
        [
          {
            "node": "Split Outreach Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Outreach Batches": {
      "main": [
        [
          {
            "node": "IF Not Already Contacted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Follow-up Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Not Already Contacted": {
      "main": [
        [
          {
            "node": "Gmail Send Initial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send Initial": {
      "main": [
        [
          {
            "node": "Sheets Update Contacted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Update Contacted": {
      "main": [
        [
          {
            "node": "Split Outreach Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Serper Error": {
      "main": [
        [
          {
            "node": "Loop Discovery Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Discovery Batches": {
      "main": [
        [
          {
            "node": "Split Discovery Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Follow-up Pass": {
      "main": [
        [
          {
            "node": "Read Active Outreach Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Active Outreach Leads": {
      "main": [
        [
          {
            "node": "Filter Follow-up Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Follow-up Candidates": {
      "main": [
        [
          {
            "node": "Split Follow-up Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Follow-up Batches": {
      "main": [
        [
          {
            "node": "Gmail Check Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Check Replies": {
      "main": [
        [
          {
            "node": "IF Reply Detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Reply Detected": {
      "main": [
        [
          {
            "node": "Sheets Mark Replied",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Follow-up Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Mark Replied": {
      "main": [
        [
          {
            "node": "Log High Intent Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log High Intent Reply": {
      "main": [
        [
          {
            "node": "IF High Intent Webhook Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF High Intent Webhook Enabled": {
      "main": [
        [
          {
            "node": "HTTP Alert High Intent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Follow-up Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Alert High Intent": {
      "main": [
        [
          {
            "node": "Split Follow-up Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Follow-up Stage": {
      "main": [
        [
          {
            "node": "Gmail Send Follow-up 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail Send Follow-up 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail Send Breakup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send Follow-up 1": {
      "main": [
        [
          {
            "node": "Sheets Update Follow-up 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Update Follow-up 1": {
      "main": [
        [
          {
            "node": "Split Follow-up Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send Follow-up 2": {
      "main": [
        [
          {
            "node": "Sheets Update Follow-up 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Update Follow-up 2": {
      "main": [
        [
          {
            "node": "Split Follow-up Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send Breakup": {
      "main": [
        [
          {
            "node": "Sheets Update Breakup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Update Breakup": {
      "main": [
        [
          {
            "node": "Split Follow-up Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error Payload": {
      "main": [
        [
          {
            "node": "Sheets Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Log Error": {
      "main": [
        [
          {
            "node": "IF Error Webhook Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/New_York"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "cognix-local-windows-gemini"
  },
  "tags": [
    {
      "name": "cognix"
    },
    {
      "name": "outbound"
    },
    {
      "name": "gemini"
    },
    {
      "name": "production"
    }
  ]
}